<!DOCTYPE html>
<html>
  <head>
    <!-- COMMON -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Security-Policy" content="script-src 'self'" />

    <!-- COMPONENTS -->
    <script src="../app/components/Todo-Manager/index.js" defer></script>
    <script src="../app/components/Todo-List/index.js" defer></script>
    <script src="../app/components/Todo-Input/index.js" defer></script>
    <script src="../app/components/Todo-Task/index.js" defer></script>

    <!-- ENTRYPOINT -->
    <script src="../app/index.js" defer></script>
    <link href="../app/ui/app.css" rel="stylesheet" type="text/css" />
  </head>
  <body></body>
</html>
